/* StudentExam.css */
.exam-container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  gap: 30px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  height: 90vh;
}

.question-box {
  margin-bottom: 20px;
  height: 60vh;
}

.question-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.option-label { 
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid gray;
  padding: 10px; 
  width: 49%;
  margin: 5px;
  border-radius: 5px;
}
.option-label-box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: background-color 0.3s;
}
.option-label.selected{
  background-color: #d4edda; /* Light green */
  border-color: #28a745; 
}
.option-label input {
  margin-right: 8px;
  visibility: hidden;
}
.timer {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  color: #e74c3c;
}

.nav-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-buttons button {
  margin-right: 10px;
  padding: 8px 14px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #2980b9;
}

.submit-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #27ae60;
}

.question-index {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  grid-column-start: auto;
  background-color: #f4f6f7;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  gap: 5px;
  max-height: 90vh;
  overflow-y: scroll;
}
.question-index  > button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid gray;
  cursor: pointer;
}
.question-index button:hover{
  background-color: #2ecc71 !important;
}
.question-index h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
.exam-container-before{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45vh;
}
.start-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #28a745;
  cursor: pointer;
}


.question-index button.green {
  background-color: #2ecc71;
  color: white;
}

.question-index button.gray {
  background-color: #dcdcdc;
}
.warning{
  color: red;
  font-size: 25px;
}
