body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: rgb(183, 206, 237);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}

.auth-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 50vw;
  text-align: center;
}

.auth-links {
  margin-top: 20px;
}

.auth-links p {
  margin: 10px 0;
}

.auth-links a {
  color: #2196f3;
  text-decoration: none;
  font-weight: bold;
}

.auth-links a:hover {
  text-decoration: underline;
}

.login-component, .register-component{
  margin-top: 15vh;
  width: 600px;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  border-radius: 10px;
  padding: 10px;
}
.go-to-register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-go-to-register{
  background: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
   margin-left: 5px;
}
.go-to-login{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.btn-go-to-admin{
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
